// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$gray: #d5d5d5;

.header {
  font-family: arial;
  font-weight: bold;
  margin-left: 24px;
}

#askcoach {
  font-family: arial;
  margin-left: 24px;
}

body {
  font-family: arial;
}

.form-group {
   margin: 32px;
}

.divs {
  margin: 24px;
  border-left: 4px solid $gray;
  padding: 8px;
  display: flex;
}

#link {
  margin: 24px;
}
